#### config file for all spi routines
####
#### config file should have two columns with headers: Variable and Value
#### library requests and functions to source are listed and separated by commas

Variable                  Value

#### libraries
libRequests                  RCurl,foreign

#### functions
dirNameFuncs                 ./
fileNameFuncs                ""

#### settings

#### year range for the precipitation time series
yearFrom                   1989
yearTo                     2018

#### folder to put precip data in 
dirPrecip                 "../CPC_precip_data/"



